*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    color: grey;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    background-size: contain;
    background: rgb(141, 141, 216);
    background-blend-mode: luminosity;
    font-size: 2rem;
}
.container {
    background: blue url(https://i.postimg.cc/QCP3MtMj/task-3-1.jpg) no-repeat center;
    background-size: cover;
    height: auto;
}
:is(h3, #box1) {
    background-color: rgb(0, 0, 0);
    width: fit-content;
}
#box1 {
    position: relative;
    border: 5px dotted; 
    top: 12px;
    border: 5px dotted;
    padding-inline: 12px;
    bottom: 12px;
}
#box2 {
    position: sticky;
    top: 0;
    border: 2px solid;
    background-color: aliceblue;
}
#box3 {
    position: absolute;
    top: auto;
    border: 2px dotted;
}
#box4 {
    position: fixed; 
    bottom: 100;
    top:0;
    width: 0;
    border: 2px ;
    background-color: black;
}